body{
    font-family: 'Faster One', cursive;
    font-size: 55px;
    text-align: center;
    color: orange;
    background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(255,255,255,0.2)
    ),url(https://images.wallpaperscraft.com/image/the_flash_grant_gustin_superhero_112733_1920x1080.jpg);
    background-size: cover;
    background-attachment: fixed;
}
p{
    display: inline;
}
.wrong{
    color: red
}
li{
    list-style: none;
}
i{
    margin-right: 10px;
    color: yellow;  
}
input,select{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: yellow;
    background-color:transparent;
    border: 1px solid orange;
    border-radius:10px; 
    text-align: center;
    font-weight: bold;
}
